<!-- Load your fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Oswald:wght@400;600&display=swap" rel="stylesheet">

<style>
:root {
  --section-dark-bg-color: #019899;
  --cover-text-color: #005354;
  --highlight: #019899;
  }
/* default text */
html, body,
.section, .section * {
  font-family: "Oswald", "Inter", sans-serif !important;
}

/* headings and buttons */
h1, h2, h3, h4, h5, h6,
.section-title, .post-title, .cover .title {
  font-family: "Oswald", "Inter", sans-serif !important;
}
</style>
